.ui.center.aigned.container(style='margin-top: 40px;')
  h2.ui.header SignUp for the Radar App
  form.ui.signup.form(name="signupForm")
    .field
      label Full Name
      input(type='text', name='fullname', placeholder='Enter full name here')
    .field
      label Email
      input(type='text', name='email', placeholder='Email')
    .field
      label Password
      input(type='text', name='password', placeholder='Password')
    .field
      label Location
      input(type='text', name='location', placeholder='Enter you Location Here')
    button.ui.button(type='submit', name="signupButton") Submit
